* { box-sizing: border-box }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#sitehead {
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}

 .navbar a {
  text-decoration: none;
}

.navbar-brand, .navbar-item {
  color: #000000;
}

#logo {
  color: #000000;
  font-size: 3em;
  transition: 0.2s ease-in-out;
}

#logo:hover, #logo:active {
  font-size: 3.5em;
  transform: rotate(90deg);
}

#brand {
  display: none;
  font-size: 2em;
  font-weight: 900;
}

.navbar {
  font-size: 1.2em;
}

.navbar-item {
  display: inline-flex;
  padding: 0.8rem;
}

a.navbar-item:hover, a.navbar-item:active {
  border-bottom: 5px solid #000000;
  color: #333;
}

.contact-button {
  border: 5px solid #000000;
  border-radius: 200px;
  padding: 5px 15px;
  color: #000000;
}

.contact-button:hover, .contact-button:active {
  color: #ffffff;
  background-color: #000000;
}

#slider-wrap {
  width: 80%;
  height: 70vh;
  margin: auto;
}

#slider {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../images/Tim-Rodgers-Web-Developer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  height: 100%;
  width: 10rem;
  color: #000000;
  position: absolute;
  top: 0;
  font-size: 2rem;
  opacity: 0;
  background-color: #999999;
}

.btn:hover, .btn:active {
  text-decoration: none;
  opacity: 0.2;
}

#leftbtn {
  left: 0;
}

#rightbtn {
  right: 0;
}